<section class="users-section">
  <ul class="users-list">
    <% if  @users.empty? %>
      <h2 class="center">(There is no new invitations)</h2>
    <% end %>
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          <%= invitation_handler(user) %>
        </span>
      </li>
    <% end %>
  </ul>
</section>
